{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
</head>
<body>
    {% include 'users/header.html' %}
    <div class="form-container">
        <h1>Fruit Ecomm</h1>
        <form class="form-form" method="POST">
            {% csrf_token %}
          <div class="form-elements">
          <div class="form-label"><label>Username:</label></div>
          <input type="text" name="username"/>
          </div>
          <div class="form-elements">
          <div class="form-label"><label>Password:</label></div>
          <input type="password" name="password"/>
          </div>
          <div class="form-elements gy">
          <input type="submit" class="submit-btn"/>
          </div>
        </form>
        <div class="link">
        <div class="linko"><a href="#">Forgot Password</a></div>
        <div class="linko"><a href="{% url 'usersignup' %}">Signup</a></div>
        </div>  
      </div>
</body>
</html>