{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
</head>
<body>
    {% include 'users/header.html' %}
    <div class="big-card">
        <div class="image">
        <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      </div>
        <div class="details">
          <h1 class="card-title">Product Title</h1>
          <div class="card-variety">Variety</div>
          <div class="card-dp"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi quaerat quibusdam libero ut magnam aliquid odit nostrum numquam saepe adipisci sit facere iste, ducimus laborum ipsa rem assumenda praesentium quam reprehenderit ullam labore excepturi. Quam expedita aliquid obcaecati, labore enim velit corporis aspernatur et ullam doloremque ratione, blanditiis eligendi dolores veniam consectetur ea? Magni, dolores! Provident facilis maiores, aliquid consequatur doloremque deserunt ipsa vitae quidem explicabo unde dolorum, obcaecati cum et ipsum ea error veniam porro doloribus quia dolores quasi commodi quam? Distinctio explicabo accusamus harum ratione iure, impedit quibusdam delectus maiores suscipit modi architecto ipsam, minima dignissimos veniam.</p></div>
          <div class="card-mrp">Price: <span>Rs 1000</span>  Rs 999 </div>
          <a href="#" class="card-btn">Add to Cart</a>
        </div>  
        <div class="description">
          <h2>Description</h2>
          <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas culpa in consectetur perferendis? Asperiores quisquam deleniti porro, incidunt temporibus nulla. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, est fuga. Cum neque exum unde tenetur maiores alias? Iste atque a doloribus dignissimos est dolorum placeat veritatis cumque debitis earum iusto repellendus odio voluptatum suscipit, tempore obcaecati, quam maiores quasi! Repellat magnam harum quia exercitationem, perspiciatis repellendus fugit dolorum cum at distinctio expedita quae quidem veritatis minus illo? Saepe cum officia excepturi laudantium nulla enim earum, eos, odio ullam sequi distinctio aliquam quaerat perspiciatis.
          </p>
        </div>  
      </div>
</body>
</html>