<div class="container">
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price</div>
      <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
  <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/3825481/pexels-photo-3825481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <h1 class="card-title">Product Title</h1>
      <div class="card-variety">Variety</div>
      <div class="card-mrp">MRP:Rs.1000</div>
      <div class="card-dp">Discount Price: Rs. 999</div>
    <a href="{% url 'singleproduct' %}" class="card-btn">Add to Cart</a>
    </div>