<div class="cart">
  <div class="left-o">
    <div class="item">
      <div class="item-info">
        <h4>Pineapple Aplhi Terum</h4>
        <p>Genethe Farm</p>
        <p>Rs.250/kg</p>
      </div>
      <div class="item-weight">
        <h5>Weight: 3.5 kg</h5>
      </div>
      <div class="item-price">
        <h5>Rs.600</h5>
      </div>
    </div>
    <div class="item">
      <div class="item-info">
        <h4>Pineapple Aplhi Terum</h4>
        <p>Genethe Farm</p>
        <p>Rs.250/kg</p>
      </div>
      <div class="item-weight">
        <h5>Weight: 3.5 kg</h5>
      </div>
      <div class="item-price">
        <h5>Rs.600</h5>
      </div>
    </div>
    <div class="item">
      <div class="item-info">
        <h4>Pineapple Aplhi Terum</h4>
        <p>Genethe Farm</p>
        <p>Rs.250/kg</p>
      </div>
      <div class="item-weight">
        <h5>Weight: 3.5 kg</h5>
      </div>
      <div class="item-price">
        <h5>Rs.600</h5>
      </div>
    </div>
  </div>
  <div class="right-o">
    <div class="total">
      <h3>Total: 800</h3>
      <button>Proceed to Buy</button>
    </div>
  </div>
</div>
