{% load static %}
<div class="fruit-list">
    <div class="fruit-container">
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
        <div class="fruit">
            <h4>Jine Farms</h4>
            <div hidden class="stockid">34</div>
            <a href={% url 'product' %}><img class="fruit-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
            <div class="fruit-mrp">MRP:- Rs. 230</div>
            <div>Deal Price :- Rs. 230</div>
            <button class="fruit-btn">Add to Cart</button>
        </div>
    </div>    
  </div>