{% load static %}
<div class="main">
    <div class="main-product-image">
      <img class="product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" />
    </div>
    <div class="main-product-details">
      <div class="title">Pineapple Winkson Apper</div>
      <div class="brand">Ganesh Spinners</div>
      <div class="description-title">Description:</div>
      <div class="description">
        vero sit ea velit similique in? Necessitatibus sapiente soluta odio
        aut iusto inventore voluptatum molestias officia, quaerat non
        doloremque quasi consequuntur enim debitis temporibus odit dolor vero
        tempore, eos tenetur velit possimus, eum quisquam. Et recusandae,
        assumenda, dolore magni maxime vitae vel ipsam rem consequatur
        quisquam fugiat laudantium n Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci cumque perferendis unde quasi iure consectetur vero molestias excepturi provident molestiae perspiciatis, ab expedita vel animi fug dignissimos totam sequi! Ipsum, iste doloremque saepe iure natus a deserunt, voluptatum, laudantium ex necessitatibus ullam itaque quia unde fuga ut cum dolorum dicta? Blanditiis cupiditate voluptatem earum consequatur modi nam incidunt doloribus dolores sequi. Mollitia quo obcaecati fugiat repellendus ad amet nihil quasi omnis sapiente! ostrum hic sapiente est consequuntur
        excepturi praesentium facere nisi voluptatum, quidem quibusdam. Nobis
        deleniti facere laborum cupiditate quaerat ipsa vero dolorum nisi
        eligendi repellat dolorem, vel nam aperiam dolore. Facere cumque nisi
        odit eveniet. Temporibus velit, architecto, aperiam quidem distinctio
        hic voluptatum saepe eum beatae, odit aspernatur! Dolorum nihil magni
        id ullam facilis, ut, eaque sapiente quis obcaecati ducimus delectus
      </div>
      <div class="mrp">MRP:300</div>
      <div class="discount-price">Deal Price: 250</div>
      <div class="add-to-cart">
        <button class="add-to-cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="similar-products">
      <div><i class="arrow leftr direction-img" id="left"></i></div>
      <div class="similar-products-list">
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="https://source.unsplash.com/random" alt="" /></a> 
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="https://source.unsplash.com/random" alt="" /></a> 
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="https://source.unsplash.com/random" alt="" /></a> 
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="https://source.unsplash.com/random" alt="" /></a> 
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
          <div class="product">
              <h4>Jine Farms</h4>
              <a href={% url 'product' %}><img class="similar-product-image" src="{% static './assets/images/pineapple.jpg'%}" alt="" /></a>  
              <div>MRP:- Rs. 230</div>
              <div>Deal Price :- Rs. 230</div>
          </div>
      </div>
      <div><i class="arrow rightr direction-img" id="right"></i></div>
  </div>