<div class="form-container">
    <a href={% url 'product_list' %}><h1>Fruit Ecomm</h1></a>
    <form class="form-form" action="">
      <div class="form-elements">
        <div class="error">
          Username and Password does not match
        </div>
        <div class="error">
          Please enter proper username
        </div>
        <div class="error">
          Please enter proper username
        </div>
        <div class="form-label">
          <label>Username:</label>
        </div>
        <input type="text" />
      </div>
      <div class="form-elements">
        <div class="form-label"><label>Password:</label></div>
        <input type="password" />
      </div>
      <div class="form-elements gy">
        <input type="submit" class="submit-btn"/>
      </div>
    </form>
    <div class="link">
      <div class="linko"><a href="#">Forgot Password</a></div>
      <div class="linko"><a href={% url 'signup' %}>SignUp</a></div>
    </div>  
  </div>
  <div class="form-container">
      <div class="error">Username and Password does not match</div>
  </div> 